.outputs/
outputs/
*outputs/
*.sh
*.sh/
*.gif
*.gif/
*.txt
*.txt/
*slurm
*slurm/
*jobs_rainml*
*jobs_rainml*/
*jobs_rainml/
*jobs_rainml
*pyc
*pyc/
*__pycache__
*__pycache__/
.log
*.log
*.log/
*.h5
*.h5/
.json
*.json
*.json/
*.csv
*.csv/
